---
import { Picture } from 'astro:assets'
import { contact } from '../../data/link'
import { project } from '../../data/project'
---

<section id="product" class="wrapper flex-col mt-60 2xl:mt-80">
  <h2 class="text-xl md:text-3xl text-zinc-200">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-8">
    {
      project.map(item => (
        <a
          href={`${item.liveLink || '#'}`}
          target="_blank"
          rel="noopener"
          class={`flex flex-col ${item.liveLink ? 'custom-cursor' : ''}`}>
          <Picture
            src={item.image}
            alt="Project visual"
            class="w-auto object-contain grayscale hover:grayscale-0 transition-all duration-[400ms] ease-in-out"
            loading="lazy"
            fallbackFormat="png"
            formats={['avif', 'webp']}
            draggable="false"
          />
          <div class="mt-3 text-zinc-300 font-mono pl-1 flex flex-col gap-1">
            <p class="text-base md:text-lg font-medium">{item.name}</p>
            <p class="leading-[105%] font-normal text-sm">{item.description}</p>
          </div>
        </a>
      ))
    }
  </div>
  <div class="flex w-full justify-end items-end mt-10">
    <a
      href={contact.social.github}
      target="_blank"
      class="text-sm md:text-lg border-b-[0.00625rem] text-zinc-400"
      >More on Github</a
    >
  </div>
  <p class="mt-60 2xl:mt-80">
    I have Loved Learning and Building things since Childhood, whether it was
    Experimenting with Code, IoT projects or Creating small Projects just for
    fun. That Curiosity turned into a Passion, and over the years, Now I'm
    Building more Stuff.
  </p>
  <p class="mt-10">
    I post on <a
      href={contact.social.twitter}
      target="_blank"
      class="text-white"
      rel="noopener">Twitter</a
    > and write a blog on <a
      href={contact.blog}
      target="_blank"
      class="text-white"
      rel="noopener">Gro<span class="text-growigh">w</span>igh</a
    >.
  </p>
</section>
