---
import '../assets/styles/global.css'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site || 'https://kumarayush.com'
).toString()
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content="Ayush Kumar" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=5.0"
    />
    <meta name="robots" content="index, follow" />

    <meta name="theme-color" content="#FEAD0B" />

    <!-- Open Graph (OG) Meta Tags -->
    <meta property="og:locale" content="en" />
    <meta property="og:site_name" content="Ayushkumar" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="Logo of Ayush Kumar" />
    <!-- Minimum 1200x630 px -->
    <meta property="og:image" content="https://kumarayush.com/logo.png" />
    <meta property="og:url" content="https://kumarayush.com" />
    <meta property="og:description" content={description} />

    <!-- Twitter Card Meta Tag -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ayushkumarkeirn" />
    <meta name="twitter:creator" content="@ayushkumarkeirn" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <!--  Minimum 1024x512 px -->
    <meta name="twitter:image" content="https://kumarayush.com/logo.png" />

    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-title" content="AyushKumar" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body class="bg-white text-black-1 font-[350] relative">
    <slot />
  </body>
</html>
